.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
  
.product-card {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 18%;
    height: 19em;
    background-color: rgb(226, 226, 226);
    text-align: center;
    align-content: center;
    margin: .1em;
    padding: 1em;
}
  
.product-info {
    display: flex;
    flex-direction: column;
    padding: .1em;
    align-content: center;
    min-height: 5em;
    height: 100%;
}

.product-title {
    margin-bottom: auto;
}
  
.product-card button {
    cursor: pointer;
}

.product-btn-container {
    margin-top: 5px;
}  
  
.product-button {
    padding: 5px;
}
  
.product-image img {
    max-width:200px;
    max-height: 220px;
}
  