body {
  font-family: 'Roboto', sans-serif;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.product-card {
  font-size: 20px;
  width: 20%;
  max-height: 25em;
  background-color: aqua;
  text-align: center;
  align-content: center;
  margin: .1em;
  padding: 1em;
}

.product-card:hover {
  -webkit-filter: grayscale(25%);
  cursor: pointer;
}

.product-card img {
  max-width:230px;
  max-height: 230px;
}